.App {
  font-family: sans-serif;
  text-align: center;
}
.Card {
  animation: Fade-In-Out 2s ease-in-out;
  animation-iteration-count: 1;

  animation: Color-Change 150s ease-in-out;
  animation-iteration-count: infinite;
  border: none;
  border-radius: 12px;
  width: 325px;
  height: 200px;
  background-color: #090345;
  color: #e8e7e7;
}
.bankName {
  position: absolute;
  left: 60px;
  top: 20px;
  font-size: 35px;
}
.cardNumber {
  position: absolute;
  top: 95px;
  left: 25px;
  font-size: 30px;
}
.validThru {
  position: absolute;
  font-size: 9px;
  top: 142px;
  left: 115px;
}
.personName {
  position: absolute;
  top: 170px;
  left: 35px;
  font-size: 25px;
}
.expDate {
  position: absolute;
  top: 142px;
  left: 143px;
  font-size: 20px;
}

@-webkit-keyframes Fade-In-Out {
  from {
    background-color: white;
    color: white;
  }
  to {
    background-color: #090345;
    color: #e8e7e7;
  }
}

@-webkit-keyframes Color-Change {
  10% {
    background-color: #801515;
  }
  20% {
    background-color: #806a15;
  }
  30% {
    background-color: #3e055f;
  }
  40% {
    background-color: #007100;
  }
  50% {
    background-color: #002685;
  }
  60% {
    background-color: #1c2e05;
  }
  70% {
    background-color: #030b1e;
  }
  80% {
    background-color: #ff8830;
  }
  90% {
    background-color: #006375;
  }
  100% {
    background-color: #801515;
  }
}
